h1 {
  text-align: center;
  font-size: 50px;
  border-bottom: 3px solid #969696;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
#h12{
  font-size: 50px;
  color: #1478CD;
}
  ol {
    text-align: center;
    border-right: 3px solid #969696;
    margin: 0;
    display: block;
    width: 100px;
    padding: 20px;
    color: #1478CD;
    font-size: 27px;
    font-weight: bold;
  }
  #aaa{
display: grid;
grid-template-columns: 150px 1fr;
}
#aaa ol{
padding-left: 33px;
}
#aaa #bbb{
  padding-left: 25px;
}
  a{
    color: #557DE1;
    text-decoration: none;
    font-size: 27px;
  }

  h2 {
    text-align: : center;
    color: #0064CD	;
    font-size: 35px;
    text-align: : center;
  }

  table {
    width: 600px;
      border-top: 1px solid #444444;
      border-collapse: collapse;
    }
    th, td {
      border-bottom: 1px solid #444444;
      padding: 10px;
      text-align: center;
    }
    th {
      background-color: #bbdefb;
    }
    td {
      background-color: #e3f2fd;
    }
 #jy {
   font-size: 15;
  font-weight: bold;
  text-decoration: underline;
}


  @media (max-width: 768px) {
   #aaa{
     display: block;
   }
   #bbb{
     border: none;
   }
   h1{
     border-bottom: none;
     font-size: 10px;
   }
   h2 {
     color: #CD1F48;
   }
   #h12{
     color: #FF9E9B;
   }
   body {
     background-color:#FFE0C6;
   }
   ol {
     border: none;
     text-align: center;
    color: #DC6089;
   }
   a {
       color: #DC6089;
   }
   #aaa ol{
     text-align: center;
     color: #DC6089;

   }
     th {
       background-color: #FFB6C1;
     }
     td {
       background-color: #FFEBF0;
     }
  }
