<style>

h1 {
  text-align: center;
  font-size: 50px;
  border-bottom: 3px solid black;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
#h12{
  font-size: 50px;
}
  ol {
    border-right: 3px solid black;
    margin: 0;
    display: block;
    width: 100px;
    padding: 20px;
  }
  #aaa{
display: grid;
grid-template-columns: 150px 1fr;
}
#aaa ol{
padding-left: 33px;
}
#aaa #bbb{
  padding-left: 25px;
}
  a{
    color: black;
    text-decoration: none;
    font-size: 27px;
  }

  h2 {
    color: lightcoral;
  }


@media (max-width: 600px) {
 #aaa{
   display: block;
 }
 #bbb{
   border: none;
 }
 h1{
   border-bottom: none;
 }
}

</style>
